    
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav" style="color: white">
                    <li class="active">
                        <a href="/admin" style="color: white"><i class="fa fa-fw fa-dashboard"></i> Sản phẩm</a>
                    </li>
                    <li>
                        <a href="/admin/rooms" style="color: white"><i class="fa fa-fw fa fa-tasks"></i> Nhà xuất bản</a>
                    </li>
                    <li>
                        <a href="/admin/order" style="color: white"><i class="fa fa-fw fa fa-pencil-square-o"></i> Đơn hàng</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Quản lý <small>Đơn hàng</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Cập nhật giá sản phẩm, trạng thái hàng
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <table class="table"  >
                <thead style="text-align: center">
                    <tr >
                            <th style="border:1px solid black">Màu</th>
                            <th style="border:1px solid black">Ý nghĩa</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px solid black; background-color: red"></td>
                        <td style="border:1px solid black">Chưa giao</td>
                        
                    </tr>
                    <tr>
                        <td style="border:1px solid black; background-color: yellow"></td>
                        <td style="border:1px solid black">Đang giao</td>
                        
                    </tr>
                    <tr>
                        <td style="border:1px solid black; background-color: green"></td>
                        <td style="border:1px solid black">Đã giao</td>
                        
                    </tr>
                </tbody>
            </table>
    
        <table class="table"  >
                <thead style="text-align: center">
                    <tr >
                            <th style="border:1px solid black">ID</th>
                            <th style="border:1px solid black">Mã đơn hàng</th>
                            <th style="border:1px solid black">Tổng tiền</th>
                            <th style="border:1px solid black">Ngày đặt</th>
                            <th style="border:1px solid black">Họ tên người nhận</th>
                            <th style="border:1px solid black">Email</th>
                            <th style="border:1px solid black">SĐT</th>
                            <th style="border:1px solid black">Địa chỉ</th>
                            <th style="border:1px solid black">Trạng thái</th>
                            
                            
                    </tr>
                </thead>
                <tbody>
                    {{#each data.don_hang}}
                        
                        <tr style="border:1px solid black" >
                            <td style="border:1px solid black">{{id}}</td>
                            <td style="border:1px solid black">{{ma_don_hang}}</td>
                            <td style="border:1px solid black">{{tong_tien}}</td>
                            <td style="border:1px solid black">{{ngay_dat2}}</td>
                            <td style="border:1px solid black">{{ho_ten_nguoi_nhan}}</td>
                            <td style="border:1px solid black">{{email_nguoi_nhan}}</td>
                            <td style="border:1px solid black">{{so_dien_thoai_nguoi_nhan}}</td>
                            
                            <td style="border:1px solid black">{{dia_chi_nguoi_nhan}}</td>
                            
                            {{#if trang_thai}}
                            
                                {{#if trang_thai2}}
                                    <td style="border:1px solid black;background-color: green">
                                    <a style="color:black; font-weight: bold" href="../admin/updateStatus/{{id}}">Thay đổi</a>
                                    </td>
                                {{else}}
                                    <td style="border:1px solid black;background-color: yellow">
                                    <a style="color:black; font-weight: bold" href="../admin/updateStatus/{{id}}">Thay đổi</a>
                                    </td>
                                {{/if}}
                            {{else}}
                                    <td style="border:1px solid black;background-color: red">
                                        <a style="color:black; font-weight: bold" href="../admin/updateStatus/{{id}}">Thay đổi</a>
                                    </td>               
                            {{/if}}
                            
                            
                    {{/each}}
                </tbody>
            </table>
            