<h1 class="page-header">
        Quản lý
        <small> Nhà xuất bản</small>
    </h1>
    <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href="./Publisher">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plus fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Thêm NXB</div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="./updatePublisher">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-wrench fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Cập nhật</div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </a>
                    </div>
    </div>
    <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li style="font-size: x-large">
                            <i class="fa fa-pencil fa-x"></i>
                            <b> Cập nhật nhà xuất bản</b>
                        </li>
                    </ul>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Cập nhật thông tin nhà xuất bản
                        </li>
                    </ol>
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead style="text-align: center">
                        <tr>
                            <th style="border:1px solid black">ID</th>
                            <th style="border:1px solid black">Tên nhà xuất bản</th>
                            <th style="border:1px solid black">Địa chỉ</th>
                            <th style="border:1px solid black">Điện thoại</th>
                            <th style="border:1px solid black">Email</th>
                            <th style="border:1px solid black">Cập nhật nhà xuất bản</th>
                            <th style="border:1px solid black">Xoá nhà xuất bản</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.nha_xuat_ban}}

                        <tr style="border:1px solid black">
                            <td style="border:1px solid black">{{id}}</td>
                            <td style="border:1px solid black">{{ten_nha_xuat_ban}}</td>
                            <td style="border:1px solid black">{{dia_chi}}</td>
                            <td style="border:1px solid black">{{dien_thoai}}</td>
                            <td style="border:1px solid black">{{email}}</td>
                            <td style="border:1px solid black">
                                <a href="/admin/updatePS/{{id}}">
                                    <button class="btn btn-success">Cập nhật</button>
                                </a>
                            </td>
                            <td style="border:1px solid black">
                                <a href="/admin/Publisher/{{id}}">
                                    <button class="glyphicon glyphicon-remove" style="color: red"></button>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>