<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>US Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css --> 
    <link href="/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <!-- checkout css -->
    <link href="/css/checkout.css" type="text/css" rel="stylesheet" media="all">
    <!-- Range-slider-css -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui1.css">
    <!-- common-css -->
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->


    <link rel="stylesheet" href="/slider/owl-carousel/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="/slider/owl-carousel/owl.theme.css">
    <!--  jQuery 1.7+  -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {{{_sections.css}}}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">US Bookstore</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a style="margin-top: -18px;" href="index">
                                <img src="/images/logo.png" class="logo" />
                                <span class="navbar-brand">USBS</span>

                            </a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li id="home">
                                <a href="/home">Home</a>
                            </li>
                            <li id="about">
                                <a href="/about">about us</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">shop
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/checkout">checkout</a>
                                    </li>
                                    <li>
                                        <a href="/payment">Payment</a>
                                    </li>
                                </ul>
                            </li>

                            <li id="contact">
                                <a href="/contact">Contact us</a>
                            </li>
                            <li id="admin">
                                <a href="/admin">ADMIN</a>
                            </li>
                            {{#if layoutVM.isLogged}}
                            <li class="dropdown">
                                    <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">
                                        <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                        Welcome {{layoutVM.curUser}}
                                    </a>
                                     <ul id="MyAccountPop" class="dropdown-menu">
                                         <li class="list-group-item">
                                            <a href="/account/profile">
                                                <i class="fa fa-user "></i>
                                                Thông tin Tài khoản
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="cart/history">
                                                <i class="glyphicon glyphicon-th-list"></i>
                                                Thông tin hóa đơn
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-heart"></i>
                                                Sản phẩm yêu thích
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-home"></i>
                                                Sổ địa chỉ
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" onclick="$('#logoutForm').submit()">
                                                <i class="glyphicon glyphicon-log-out"></i>
                                                Đăng xuất
                                            </a>
                                            <form id="logoutForm" action="/account/logout" style="hidden" method="post"></form>
                                        </li>
                                    </ul>
                                </li>
                            {{else}}
                            <li>
                                <a href="/account/login" title="SignIn & SignUp">
                                    <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                        <!-- search-bar -->
                        <div class="search-bar-agileits">
                            <div class="cd-main-header">
                                <ul class="cd-header-buttons">
                                    <li>
                                        <a class="cd-search-trigger" href="#cd-search">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- cd-header-buttons -->
                            </div>
                            <div id="cd-search" class="cd-search">
                                <form action="/product/search" method="get">
                                    <input name="Search" type="search" placeholder="Nhập và bấm Enter">
                                </form>
                            </div>
                        </div>
                        <!-- //search-bar ends here -->
                        <!-- shopping cart -->
                        <div class="cart-mainf">
                            <a href="/cart" class="top_chr_cart" name="submit" value="">
                                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                <span style="font-size: 25px; font-weight: 500; color: white;">{{layoutVM.numberItems}}</span>
                            </a>
                        </div>
                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- //navbar ends here -->
        {{{_sections.background}}}
        <!-- ********************************************************************************* -->
        <div class="innerf-pages section">
            <div class="container-cart row">
                <!-- product left -->

                <div class="col-md-3">
                    <!--preference -->
                    <div class="side-bar">
                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">
                                Thể loại</h3>
                            <ul>
                                {{#each layoutVM.categories}}
                                <li>
                                    <a href="/product/byCat/{{id}}" class="list-group-item">
                                        <span class="span">{{ten_loai_sach}}</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>

                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">
                                Nhà xuất bản</h3>
                            <ul>
                                {{#each layoutVM.suppliers}}
                                <li>
                                    <a href="/product/bySup/{{id}}" class="list-group-item">
                                        <span class="span">{{ten_nha_xuat_ban}}</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- // preference -->
                        <div class="search-hotel">
                            <h3 class="shopf-sear-headits-sear-head">
                                <span>Tìm</span> theo tên tác giả</h3>
                            <form action="#" method="post">
                                <input type="search" placeholder="Nhập..." name="search" required="">
                                <input type="submit" value="Tìm">
                            </form>
                        </div>
                        <!--preference -->
                    </div>
                    
                </div>
                <div class="container-fluid col-md-9 left-ads-display">
                    {{{body}}}
                </div>
            </div>
        </div>
        <!-- ********************************************************************************* -->
        <!-- footer -->
        <div class="clearfix"></div>
        
        <div class="footer-bottom section">
            <div class="container">
                <!-- newsletter -->
                <div class="subscribe-main section-w3layouts text-center">
                    <h4 class="rad-txt">
                        <span class="abtxt1">Nhập Email</span>
                        <span class="abtext">Cập nhật liên tục</span>
                    </h4>
                    <h5>ĐỂ LẠI EMAIL CỦA BẠN ĐỂ CẬP NHẬT NHỮNG ƯU ĐÃI HOT NHẤT TỪ USBS </h5>
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <div class="email-news">
                                <input type="email" placeholder="Email" required="">
                            </div>
                            <div class="sub-news">
                                <input type="submit" value="Nhận ưu đãi !!!">
                            </div>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <p>We respect your privacy.No spam ever!</p>
                </div>
                <!-- //newsletter ends here -->
                <!-- footer grids-->
                <div class="footer-cpy">
                    <!-- footer-grid1 -->
                    <div class="col-md-3 col-sm-6 footer-logo" style="margin-top: -26px; margin-left:-7px;">
                        <h3>
                            <a href="/">
                                <span style="font-family: Arial">US Bookstore</span>
                            </a>
                        </h3>
                        <h4>about us</h4>
                        <img src="/images/dadk.png" style="width: 300px; margin-top: 33px; margin-left: -5px" />
                    </div>
                    <!-- //footer-grid1 -->
                    <!-- footer-grid2 -->
                    <div class="col-md-3 col-sm-6 footer-nav text-center">
                        <h4>NAVIGATION</h4>
                        <ul>
                            <li>
                                <a href="/home">Home</a>
                            </li>
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/payment">shop</a>
                            </li>
                            <li>
                                <a href="/contact">contact us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid2 -->
                    <!-- footer-grid3 -->
                    <div class="col-md-3 col-sm-6 blog-footer">
                        <h4>TIN TỨC LIÊN QUAN</h4>
                        <div class="blog1">
                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                                <a href="#">
                                    <img src="/images/b1.jpg" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                                <a href="#">Nhà sách US mở thêm 10 chi nhánh</a>
                                <p>17 tháng 3, 2018</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="blog1">
                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                                <a href="#">
                                    <img src="/images/b2.jpg" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                                <a href="#">Bộ giáo dục ra quyết định khen thưởng USBS</a>
                                <p>5 tháng 3, 2018</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //footer-grid3 -->
                    <!-- footer-grid4 -->
                    <div class="col-md-3 col-sm-6 contact-foot text-right">
                        <h4>LIÊN HỆ</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home"></span>
                                227 Nguyễn Văn Cừ, P4, Q5, TPHCM
                                <br> Việt Nam
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                +84 908980435
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                <a href="mailto:1512470@student.hcmus.edu.vn">USBS@hcmus.edu.vn</a>
                                <a href="mailto:1512470@student.hcmus.edu.vn">US@books.vn</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid4 -->
                    <div class="clearfix"></div>
                </div>
                <!-- //footer-grids -->
                <!-- footer social -->
                <div class="footer-social text-center">
                    <h4>stay connected with us</h4>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100006522224736">
                                <span class="fa fa-facebook icon_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/jypetwice">
                                <span class="fa fa-twitter icon_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/VuAnhTai1997">
                                <span class="fa fa-dribbble icon_dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/100930126277695403127">
                                <span class="fa fa-google-plus icon_g_plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social -->
            </div>
            <!-- //footer container -->
        </div>
        <!-- //footer -->
        <div class="cpy-right">
            <p>© 2018 USBS. All rights reserved | Design by
                <a href="http://w3layouts.com"> Chronicle Team</a>
            </p>
        </div>
    </div>
    <!-- //home -->
    <!-- js -->
    <!-- Common js -->
     
    <!--// Common js -->
    <!-- price range (top products) -->
        
    <script src="/slider/assets/js/jquery-1.9.1.min.js"></script>

    <!-- Include js plugin -->
    <script src="/slider/owl-carousel/owl.carousel.js"></script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="/js/main.js"></script>
    <!--search jQuery-->
    <!-- Scrolling Nav JavaScript -->
    <script src="/js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->
    <script src="/js/bootstrap.js"></script>
    <!-- start-smoth-scrolling -->
    <script src="/js/move-top.js"></script>
    <script src="/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <script src="/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    {{{_sections.js}}}
</body>

</html>