</br>
    <!-- Single -->
    {{#with product}}
    <div class="innerf-pages section">
            <div class="col-md-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider1">
                        <ul class="slides">
                            <li>
                                <img src="/images_sach/{{hinh}}" data-imagezoom="true" alt=" " class="img-responsive">
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem">
                <h3>{{ten_sach}}
                <span>Bìa mềm</span>
                </h3>
                <p>Tác giả
                    <a href="#">{{ten_tac_gia}}</a>
                </p>
                <div class="caption">
                    <div class="clearfix"> </div>
                    <p class="price">
                        Giá Bìa:
                        <span class="save">
                            {{number_format gia_bia}}đ
                        </span>
                    </p>
                    <p class="price">
                        Giá Shop:
                        <span class="val2">
                            {{number_format don_gia}}đ
                            <i>(Đã có VAT)</i>
                        </span>
                    </p>
                </div>
                <div class="desc_single">
                    <h3>Mô tả:</h3>
                    <p>{{{gioi_thieu}}}</p>
                </div>
                <div class="occasional">
                    <h3>Thông tin chi tiết</h3>
                    <ul class="single_specific">
                        <li>
                            <span style="margin-right: 40px">Nhà xuất bản :</span> {{ten_nha_xuat_ban}}
                        </li>
                        <li>
                            <span style="margin-right: 64px">Kích thước :</span> {{kich_thuoc}}cm
                        </li>
                        <li>
                            <span style="margin-right: 32px">Ngày xuất bản :</span> {{ngay_xuat_ban}}
                        </li>
                        <li>
                            <span style="margin-right: 79px">Số trang :</span> {{so_trang}}
                        </li>
                        <li>
                            <span style="margin-right: 64px">Lượt xem :</span> {{luot_xem}} lượt
                        </li>
                        <li style="color:red">
                            Còn lại <i class="So-Luong-ton">{{so_luong_ton}}</i> Sản phẩm
                        </li>
                

                    </ul>
                </div>
                
                <div class='Thong-bao'>
                </div>
                
                <div class="occasion-cart">
                    <div class="chr single-item single_page_b">
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="chr_item" value="Single book">
                            <input type="hidden" name="amount" value="100.00">
                            <button type="submit" class="chr-cart pchr-cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
    </div>
    {{/with}}

    <!-- /new_arrivals -->
    <div class="singlep_btm">
        <div class="new_arrivals">
            <h4 class="rad-txt">
            <span class="abtext">Sản phẩm cùng loại</span>
            </h4>
            <div class="clearfix"></div>
        </div>
        <!--//new_arrivals-->
        <!-- ********************************** Carousel 2 *********************************************8 -->
        
        <div class="row">
            <div class="span12">
                <div class="well">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            
                            <div class="item active">
                                <div class="row-fluid">
                                    {{#each productsByCat}}
                                    <div class=" col-md-3" style="width: 20%">
                                        <div class="product-chr-info chr">
                                            <div class="thumbnail">
                                                <a href="/product/detail/{{id}}">
                                                    <img src="/images_sach/{{hinh}}" alt="">
                                                </a>
                                                <span class="discount-label"><span class="discount-percent">- 25%</span></span>
                                            </div>
                                            <div class="caption">
                                                <h4>{{ten_sach}}</h4>
                                                <p>{{tac_gia}}</p>
                                                <div class="matrlf-mid">
                                                    
                                                    <ul class="price-list">
                                                        <li>{{number_format don_gia}}đ</li>
                                                        <li>{{number_format gia_bia}}đ</li>
                                                    </ul>
                                                    <div class="clearfix"> </div>
                                                </div>
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="chr_item" value="Book4">
                                                    <input type="hidden" name="amount" value="140.00">
                                                    <button type="submit" class="chr-cart pchr-cart">Add to cart
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                    </div>
                    <!--/myCarousel-->
                    
                </div>
                <!--/well-->
            </div>
        </div>
        <!-- ********************************** Carousel 2 ********************************************* -->
        <div class="new_arrivals">
            <h4 class="rad-txt">
            <span class="abtext">Sản phẩm cùng nhà sản xuất</span>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="well">
                    <div id="myCarousel2" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            
                            <div class="item active">
                                <div class="row-fluid">
                                    {{#each productsBySup}}
                                    <div class=" col-md-3" style="width: 20%">
                                        <div class="product-chr-info chr">
                                            <div class="thumbnail">
                                                <a href="/product/detail/{{id}}">
                                                    <img src="/images_sach/{{hinh}}" alt="">
                                                </a>
                                                <span class="discount-label"><span class="discount-percent">- 25%</span></span>
                                            </div>
                                            <div class="caption">
                                                <h4>{{ten_sach}}</h4>
                                                <p>{{ten_tac_gia}}</p>
                                                <div class="matrlf-mid">
                                                    
                                                    <ul class="price-list">
                                                        <li>{{number_format don_gia}}đ</li>
                                                        <li>{{number_format gia_bia}}đ</li>
                                                    </ul>
                                                    <div class="clearfix"> </div>
                                                </div>
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="chr_item" value="Book4">
                                                    <input type="hidden" name="amount" value="140.00">
                                                    <button type="submit" class="chr-cart pchr-cart">Add to cart
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    </button>
                                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
  
                        </div>
                        <!--/carousel-inner-->
                    </div>
                    <!--/myCarousel-->
                    
                </div>
                <!--/well-->
            </div>
        </div>
    </div>
</div>
<script src="js/imagezoom.js"></script>

<!--// Single -->