{{#section 'background'}}
<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <p class="b-txt">US</p>
            <h2 class="title">
                Bookstore
            </h2>
            <ul class="banner-txt">
                <li>Hiểu biết</li>
                <li>Thư giãn</li>
                <li>Tĩnh lặng</li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>
{{/section}}
<div class="container-fluid">
    <h4 class="rad-txt">
        </br>
        <span class="abtext">Sản phẩm mới nhất</span>
    </h4>

    <div id="owl-example" class="owl-carousel">
        {{#each sp_moi_nhat}}
        <div class="col-md-3 product-men" style="width:220px;">
            <div class="product-chr-info chr">
                <div class="thumbnail">
                    <a href="/product/detail/{{id}}">
                        <img src="/images_sach/{{hinh}}" alt="" width="200px">
                    </a>
                </div>
                <div class="caption">
                    <h4>{{ten_sach}}</h4>
                    <p>{{ten_tac_gia}}</p>
                    <p>New</p>
                    <div class="matrlf-mid">
                        <ul class="price-list">
                            <li>{{number_format don_gia}} VNĐ</li>
                            <li>{{number_format gia_bia}} VNĐ</li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <form action="#" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="chr_item" value="SP1">
                        <input type="hidden" name="amount" value="100.00">
                        <button type="submit" class="chr-cart pchr-cart">Mua
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </button>
                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>
<div class="container-fluid">
    <h4 class="rad-txt">
        </br>
        <span class="abtext" style="background-color: #f7c052">Sản phẩm bán chạy</span>
    </h4>

    <div id="owl-example2" class="owl-carousel">
        {{#each top_san_pham}}
        <div class="col-md-3 product-men" style="width:220px;">
            <div class="product-chr-info chr">
                <div class="thumbnail">
                    <a href="/product/detail/{{id}}">
                        <img src="/images_sach/{{hinh}}" alt="" width="200px">
                    </a>
                </div>
                <div class="caption">
                    <h4>{{ten_sach}}</h4>
                    <p>{{ten_tac_gia}}</p>
                    <p>Còn: {{so_luong_ton}}</p>
                    <div class="matrlf-mid">
                        <ul class="price-list">
                            <li>{{number_format don_gia}} VNĐ</li>
                            <li>{{number_format gia_bia}} VNĐ</li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <form action="#" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="chr_item" value="SP1">
                        <input type="hidden" name="amount" value="100.00">
                        <button type="submit" class="chr-cart pchr-cart">Mua
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </button>
                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="container-fluid">
    <h4 class="rad-txt">
        </br>
        <span class="abtext" style="background-color: #34c663">Được xem nhiều nhất</span>
    </h4>

    <div id="owl-example3" class="owl-carousel">
                        
        {{#each sp_xem_nhieu}}
        <div class="col-md-3 product-men" style="width:220px;">
            <div class="product-chr-info chr">
                <div class="thumbnail">
                    <a href="/product/detail/{{id}}">
                        <img src="/images_sach/{{hinh}}" alt="" width="200px">
                    </a>
                </div>
                <div class="caption">
                    <h4>{{ten_sach}}</h4>
                    <p>{{ten_tac_gia}}</p>
                    <p class="luotxem fa fa-eye" align="center">Lượt xem: {{luot_xem}} lượt</p>
                    <div class="matrlf-mid">
                        <ul class="price-list">
                            <li>{{number_format don_gia}} VNĐ</li>
                            <li>{{number_format gia_bia}} VNĐ</li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <form action="#" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="chr_item" value="SP1">
                        <input type="hidden" name="amount" value="100.00">
                        <button type="submit" class="chr-cart pchr-cart">Mua
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </button>
                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Item slider end-->
<div class="innerf-pages section">
    <div class="container-fluid">
        <h1 align="center">Tất cả sản phẩm</h1>
        <div class="wrapper_top_shop">
            <!-- product-sec1 -->
            <div class="product-sec1">
                {{#each products}}
                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                            <a href="/product/detail/{{id}}">
                                <img src="/images_sach/{{hinh}}" alt="">
                            </a>
                        </div>
                        <div class="caption">
                            <h4>{{ten_sach}}</h4>
                            <p>{{ten_tac_gia}}</p>
                            <div class="matrlf-mid">
                                <ul class="price-list">
                                    <li>{{number_format don_gia}} VNĐ</li>
                                    <li>{{number_format gia_bia}} VNĐ</li>
                                </ul>
                                <div class="clearfix"> </div>
                            </div>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="chr_item" value="Book1">
                                <input type="hidden" name="amount" value="100.00">
                                <button type="submit" class="chr-cart pchr-cart">Mua
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="clearfix"></div>
                
                <!-- //row3 -->
                <div class="clearfix">
                    <ul class="pagination modal-2" align="center" style="margin-left:265px;">
                        <li>
                            <a href="#" class="prev">&laquo </a>
                        </li>
                        {{#each page_numbers}}
                            {{#if isCurPage}}
                                <li class="active"><a href="javascript:;">{{value}}</a></li>
                            {{else}}
                                <li><a href="?page={{value}}">{{value}}</a></li>
                            {{/if}}
                        {{/each}}
                        <li>
                            <a href="#" class="next"> &raquo;</a>
                        </li>
                    </ul>
                </div>
            {{!-- </div> --}}

            </div>

            <!-- //product-sec1 -->
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="clearfix"></div>

</div>
<!--// Shop -->