</br></br></br></br>

<!--checkout-->
<div class="innerf-pages section">
    <div class="container">
        <div class="privacy about">
            <h4 class="rad-txt">
                <span class="abtxt1">Xem lại</span>
                <span class="abtext">Giỏ hàng</span>
            </h4>

            <div class="checkout-right">
                <h4>Giỏ hàng của bạn bao gồm
                    <span>3 sản phẩm</span>
                </h4>
                <table class="timetable_sub table-responsive">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Số lượng</th>
                            <th>Tên SP</th>

                            <th>Giá</th>
                            <th>Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data.items}}
                        <tr class="rem1">
                            <td class="invert">{{Product.id}}</td>
                            <td class="invert-image">
                                <a href="single_product.html">
                                    <img src="/images_sach/{{Product.hinh}}" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value">
                                            <span>{{Quantity}}</span>
                                        </div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">{{Product.ten_sach}}</td>

                            <td class="invert">{{number_format Amount}}</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close1"> </div>
                                </div>

                            </td>
                        </tr>
                        {{/each}}
                        

                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <h4>Tiếp tục mua sắm</h4>
                    <ul>
                        <li>Be Creative
                            <i>-</i>
                            <span>$100.00 </span>
                        </li>
                        <li>Work From Home
                            <i>-</i>
                            <span>$80.00 </span>
                        </li>
                        <li>E-Commerce
                            <i>-</i>
                            <span>$120.00 </span>
                        </li>
                        <li>Phí
                            <i>-</i>
                            <span>$55.00</span>
                        </li>
                        <li>Tổng cộng
                            <i>-</i>
                            <span>$355.00</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 address_form">
                    <h4>Địa chỉ thanh toán</h4>
                    <form action="payment.html" method="post" class="creditly-card-form shopf-sear-headinfo_form">
                        <div class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Họ tên: </label>
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Số điện thoại:</label>
                                                <input class="form-control" type="text" placeholder="Mobile number">
                                            </div>
                                        </div>
                                        
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Tỉnh, TP: </label>
                                        <input class="form-control" type="text" placeholder="Town/City">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Loại địa chỉ: </label>
                                        <select class="form-control option-fieldf">
                                            <option>Văn phòng</option>
                                            <option>Nhà</option>
                                            

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out">Đặt hàng</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="clearfix"> </div>

            </div>

        </div>

    </div>
</div>

    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
     <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>