</br></br></br></br>
<form id="form_change" action="/cart/add" method="post">
    <input  name="quantity" value="1" class="hidden">
    <input  name="proId" value="{{id}}" class="hidden">
</form>
<form id="form_remove" action="/cart/remove" method="post">
    <input  name="proId" value="{{id}}" class="hidden">
</form>
<!--checkout-->
<div class="innerf-pages section">
    <div class="container">
        <div class="privacy about">
            <h4 class="rad-txt">
                <span class="abtxt1">Xem lại</span>
                <span class="abtext">Giỏ hàng</span>
            </h4>
            
            <div class="checkout-right">
                <h4>Giỏ hàng của bạn bao gồm
                    <span>{{layoutVM.numberItems}} sản phẩm</span>
                </h4>
                <div id="signupalert" class="alert alert-danger hidden">
                    <p id="error">Error: {{data.errorMsg}}</p>
                    <span></span>
                </div>
                <table class="timetable_sub table-responsive">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Số lượng</th>
                            <th>Tên SP</th>

                            <th>Giá</th>
                            <th>Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data.items}}
                        <tr class="rem1">
                            <td class="invert">{{Product.id}}</td>
                            <td class="invert-image">
                                <a href="product/detail/{{Product.id}}">
                                    <img src="/images_sach/{{Product.hinh}}" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div data-proid="{{Product.id}}" data-SLT="{{Product.so_luong_ton}}" class="entry value-minus">&nbsp;</div>
                                        <input data-proid="{{Product.id}}" class="input_quantity" data-oldValue="{{Quantity}}" data-SLT="{{Product.so_luong_ton}}" type="number" name="input_quantity" value="{{Quantity}}" min="1">
                                        <div data-proid="{{Product.id}}" data-SLT="{{Product.so_luong_ton}}" class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">{{Product.ten_sach}}</td>

                            <td class="invert">{{number_format Amount}}</td>

                            <td id="SLT" class="invert hidden">{{Product.so_luong_ton}}</td>

                            <td class="invert">
                                <div class="rem">
                                    <a class="remove" data-proid="{{Product.id}}"></a>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                            <tr>
                                <th>Tổng tiền:</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                {{!-- {{#with }} --}}
                                <td>{{number_format data.moneyTotal}}</td>
                                {{!-- {{/with}} --}}
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <h4><a href="/">Tiếp tục mua sắm</a></h4>
                    <ul>
                        {{#each data.items}}
                        <li>{{Product.ten_sach}}
                            <i>-</i>
                            <span>{{number_format Amount}}đ</span>
                        </li>
                        {{/each}}
                        <li>Tổng tiền:
                            <i>-</i>
                            <span>{{number_format data.moneyTotal}}đ</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 address_form">
                    <h4>Địa chỉ thanh toán</h4>
                    {{#with data.user}}
                    <form action="/cart/payment" method="post" class="creditly-card-form shopf-sear-headinfo_form">
                        <div class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Họ tên: </label>
                                        <input class="billing-address-name form-control" type="text" name="ho_ten_nguoi_nhan" placeholder="Full name" value="{{ho_ten}}" required>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">email: </label>
                                        <input class="billing-address-name form-control" type="text" name="email_nguoi_nhan" placeholder="Email" value="{{email}}" required>
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Số điện thoại:</label>
                                                <input class="form-control" type="text" placeholder="Mobile number" name="so_dien_thoai_nguoi_nhan" value="{{dien_thoai}}" required>
                                            </div>
                                        </div>
                                        
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Địa chỉ: </label>
                                        <input class="form-control" type="text" placeholder="Địa chỉ" name="dia_chi_nguoi_nhan" value="{{dia_chi}}" required>
                                    </div>
                                </div>
                                <button class="submit check_out">Đặt hàng</button>
                            </div>
                        </div>
                    </form>
                    {{/with}}
                </div>

                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>

    <!--quantity-->
    <script>
        $('.remove').on('click', function () {
            var proID = $(this).data('proid');

            $('#form_remove input[name="proId"]').val(proID);

            $('#form_remove').submit();
        });

        $('.value-plus').on('click', function () {
            var SLT = $(this).data('slt');
            if(SLT < 1)
            {
                $("#error").text('Sản phẩm này hiện đã bán hết, vui lòng lựa chọn sản phẩm khác');
                $("#signupalert").removeClass('hidden');
            }else{
                $("#signupalert").addClass('hidden');

                var divUpd = $(this).parent().find('input'),
                newVal = parseInt(divUpd.val(), 10) + 1;
                console.log(newVal);
                var idPro = $(this).data('proid');
                divUpd.val(newVal);
                $('#form_change input[name="quantity"]').val(1);
                $('#form_change input[name="proId"]').val(idPro);
                $('#form_change').submit();
            }
        });

        $('.value-minus').on('click', function () {
            var SLT = $(this).data('slt');
            if(SLT < 1)
            {
                $("#error").text('Sản phẩm này hiện đã bán hết, vui lòng lựa chọn sản phẩm khác');
                $("#signupalert").removeClass('hidden');
            }else{
                $("#signupalert").addClass('hidden');

                var divUpd = $(this).parent().find('input'),
                    newVal = parseInt(divUpd.val(), 10) - 1;
                var idPro = $(this).data('proid');

                if (newVal >= 1) {
                    divUpd.val(newVal);
                    $('#form_change input[name="quantity"]').val(-1);
                    $('#form_change input[name="proId"]').val(idPro);
                    $('#form_change').submit();
                }
            }
        });

        $('.input_quantity').keypress(function(e) {
            if(e.which == 13) {
                var SLT = $(this).data('slt');
                var newVal = parseInt($(this).val(), 10);
                if(SLT < newVal)
                {
                    $("#error").text('Cửa hàng chỉ còn lại: ' + SLT + " sản phẩm");
                    $("#signupalert").removeClass('hidden');
                }else{
                    $("#signupalert").addClass('hidden');

                    if(newVal >= 1){
                        var idPro = $(this).data('proid');
                        var oldVal = $(this).data('oldvalue');
                        Quantity = newVal - oldVal;
                        $('#form_change input[name="proId"]').val(idPro);
                        $('#form_change input[name="quantity"]').val(Quantity);

                        $('#form_change').submit();
                    }
                }
            }
        });

        $('.input_quantity').blur(function(e) {
            var newVal = parseInt($(this).val(), 10);
            if(newVal >= 1){
                var SLT = $(this).data('slt');
                if(SLT < newVal)
                {
                    $("#error").text('Cửa hàng chỉ còn lại: ' + SLT + " sản phẩm");
                    $("#signupalert").removeClass('hidden');
                }else{
                    $("#signupalert").addClass('hidden');

                    var idPro = $(this).data('proid');
                    var oldVal = $(this).data('oldvalue');
                    Quantity = newVal - oldVal;
                    $('#form_change input[name="proId"]').val(idPro);
                    $('#form_change input[name="quantity"]').val(Quantity);

                    $('#form_change').submit();
                }
            }
        });

    </script>